.price-summary {
    background-color: rgb(201, 190, 211);

}
.cart-cont {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2vh;
    justify-content: space-between;
}

.checkout {
    background-color: steelblue;
    font-size: .9rem;

}



.page-title {
    margin-top: 5vh;
    font-size: 1.6rem;
    color: rgb(88, 87, 87);
    font-weight: 600;
    margin-left: 20px;
}

.price-summary {
    padding: 14px;
    height: 25vh;
    border: 1px solid black;
    margin-right: 5vw;
    font-size: 1.2rem;
    border-radius: 5px;
    font-weight: 400;
    letter-spacing: 1px;
    font-family:sans-serif;
    background-color: rgb(254, 254, 254);
    color: rgba(7, 55, 81, 0.871);
    padding-top: 5vh;
}