* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
  }
  
  .login-container {
    display: flex;
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form {

    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
    height: 500px;
    position: relative;
  }
  
  .form-control {
    background-color: rgba(0, 255, 255, 0);
    border: none;
  }

  h1 {
    font-size: 24px;
    font-weight: 450;
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #5a5451;
    letter-spacing: 1px;
  }
  
  .form-control {
    margin-bottom: 20px;
    text-align: left;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #5a5451;
    font-weight: 360;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: none;
    font-size: 16px;
    border: 2px solid rgb(211, 209, 209);
  }
  
  .btn {
    background-color: #5a5451;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .btn:hover {
    background-color: #a7533a;
  }
  
  .links {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 250px;
    font-size: 14px;
    color: #5a5451;
  }
  
  .links a{
    text-decoration: none;
    color: #5a5451;
  }

  .spinner {
    position: absolute;
    left:34%;
    top: -7%;
    color: rgb(33, 212, 128);
  }