
.main-cont {
    background: #F0F0F0;
}

.about-product {
    height:fit-content;
    display: flex;
    padding: 10px;
    background-color: #E86A33;
    flex-direction: column;

}
.text {
    font-weight: 550;
    color: rgb(76, 76, 80);
}

.about-seller {
    border: 1px solid rgb(169, 163, 163);
    height:fit-content;
    border-radius: 5px;
    display: flex;
    padding: 10px;
    flex-direction: column;
}

.addtocart {
    background-color: #E86A33 !important;
}

.about-product div, .about-seller div {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title, .name {
    letter-spacing: 1px;
    font-size: 1.3rem;
    font-weight: 550;
    color: whitesmoke;
}

.price span, .text-star{
    color: whitesmoke;
}



.add-to-cart button {
    background-color: rgb(54, 142, 4);
    color: rgb(220, 234, 245);
}

.review-cont {
    text-align: left;
    display: flex;
    padding: 20px;

    flex-direction: column;
}

.add-review {
    padding-left: 20px;
    padding-bottom: 4vh;
}

.added-review {
    width: 60vw;
    padding: 10px;
    background-color: rgba(129, 135, 139, 0.198);
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    color: rgb(73, 73, 73);
    justify-content: flex-start;
    align-items: flex-start;
}
.heading {
    font-size: 1.5rem;
    font-weight: 548;
    margin-top: 10px;
    margin-bottom: 6px;
}

.added-review{
    font-size: 1.1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 550;
    opacity: .8;
}

.review-form {
    margin-left: 10px;
}

.review-form select{
    width:60vw;
    height: 5vh;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(228, 228, 228) !important;
    color: #16173e !important;
    margin-bottom: 10px;
    border-radius: 5px;
}

.review-form textarea {
    width:60vw;
    height: 18vh;
    color: rgb(62, 61, 61);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.review-form label {
    color: rgb(62, 61, 61);
    font-weight: lighter;
    margin-bottom: 3px;
}

@media only screen and (max-width: 825px) {
    .main-cont {
      flex-direction: column;
      align-items: center;
    }

    .img-cont {
        text-align: center;
        width: 80vw;
    }

    #product-img {
        width: 100%;
        height: 100%;
        
    }

    .about-product {
        width: fit-content;
    }

    .about-seller {
        width: fit-content;
    }
  }

#addComment {
    font-weight: 350;
    font-size: 8.rem;
    padding: 10px;
    background-color: rgb(228, 228, 228) !important;
    color: #16173e !important;
}

.img-cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

#product-img {
    height:30vw;
    width: 30vw;
    border: 1px solid black;

}

.description {
    background-color: #F1F6F9 !important;
    padding: 5px;
    font-weight: 380;
    letter-spacing: 1px;
    font-family: "Source Sans Pro", "Arial", sans-serif;;
    color: #16173e !important;
}