.cart-item {
    display: flex;
    width: 60vw;
    min-width: 300px;
    padding: 15px;
    background-color: rgba(237, 237, 237, 0.551);
   
 
    flex-direction: row;
    padding-right: 60px;
    padding: 30px;
    margin-bottom: 16px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}

.product {
    width: 30% !important;
    align-items: center;
    justify-content: space-between;
   padding: 0px !important;
   position: relative;
   margin: 0px !important;
}

@media only screen and (max-width: 700px) {
    .product-name {
        position: absolute;
        bottom: -25px;
        left: -24px;
    }
  }

.product-img img {
    height: 50px;
    width: 50px;
    border-radius: 5px;

 
}

.product-name {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    font-weight: 550;
    color: rgb(49, 77, 101);
}

.product-count {
    font-size: 1.7rem;
    color: rgba(0, 0, 0, 0.66);
}

.product-count i {
    cursor: pointer;
}

.price,.del-product {
    font-size: 1.4rem;
}

.del-product {
    cursor: pointer;
    
}