.arrow i{
    font-size: 1.5rem;
    cursor: pointer;
}

.card {
    box-shadow: 1px 4px 8px rgb(135, 135, 135);
    transition-duration: 1s;
    background-color: rgb(226, 227, 227);
}

.card:hover {
    transform:scale(1.1);
}

.card-title {
    font-size: 1.3rem;
    font-weight: 360;
}

.card-text {
    font-size: .9rem;
}

.see-datails {
    border-radius: 20px;
    padding: 3px 10px 3px 10px;
    letter-spacing: 1px;
    background-color: rgb(66, 66, 66) !important;
    box-shadow: 1px 1px 3px rgb(24, 146, 160);
    color: rgb(224, 224, 230) !important;
    text-decoration: none;
}
.see-datails:hover{
    transform: scale(1.1);
    box-shadow: 1px 1px 3px rgb(24, 146, 160);
}