footer {
    background-color: #f9f9f9;
    padding: 50px 0;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
  }
  
  .footer-section {
    flex-basis: 25%;
  }
  
  h4 {
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  a {
    text-decoration: none;
    color: #333;
  }
  
  .social-icons li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .social-icons i {
    font-size: 20px;
    color: #555;
  }
  
  .footer-bottom {
    background-color: #ddd;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-bottom p {
    margin: 0;
  }
  