.cont {
    background: rgb(52,58,64);
    padding-bottom: 10px;
    font-family: sans-serif;
    min-height: 100px;
}

.nav-box {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fafafa; 
    height: 10vh;
    align-items: center;
}

.search-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 16.5rem;
    background-color: rgb(52,58,64) !important;
}

.search-box input {
    outline: none;
    padding-top: 0px;
    width: 12rem !important;
    height: 5vh !important;
    font-size: .9rem;
    color: rgb(70, 69, 69);

    margin: 0 !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-weight: 300 !important;
    background-color: #fafafa;
}

.search-box div {
    display: inline-block;
    letter-spacing: 2px;
    font-size: .66rem
     !important;
     padding-top: 8px;
     padding-left: 8px !important;
     height: 5vh;
     padding-right: 8px;
     border: 2px solid rgb(52, 92, 178);
     color: rgb(185, 185, 185);
}

.nav-list {
    margin-bottom: 5px;
    display:flex;
    justify-content: center;

}

.nav-list>li {
    padding-top: 5px;
    margin-right: 20px;
    margin-left: 20px;
    display: inline;
   
}

/* .list-secontion-cont {
    z-index: 600;
} */

.nav-list li a {
    font-size: .9rem;
    font-weight: 550;
    color: #fafafa;
    text-decoration: none;
    
}

.list-cont {
    position: relative;
    margin-bottom: -10px;
    border-radius: 10px;
    height: 25px;
    background: #007ab7; 
    padding-bottom: 30px;
    opacity: 1;
}

.list-cont ul li a:hover {
    text-decoration: solid underline rgb(216, 216, 216) 4px;
}

.drop {
    position: absolute;
    background-color: #007ab7;

}


.drop-men {
    display: flex;
    letter-spacing: 1px;
    background-color: rgb(254, 253, 253);
    box-shadow: 1px 2px 14px -1px rgba(143,141,143,1);
    transition-delay: .2s;
    z-index: 20;
    right: 50%;
    top: 30px;
    
}


.drop-women {
    display: flex;
    letter-spacing: 1px;
    background-color: rgb(254, 253, 253);
    box-shadow: 1px 2px 14px -1px rgba(143,141,143,1);
    transition-delay: .2s;
    z-index: 20;
    right: 35%;
    top: 30px;
    
}

.drop-kid {
    display: flex;
    letter-spacing: 1px;
    background-color: rgba(213, 76, 76, 0.175);
    background-color: rgb(254, 253, 253);
    box-shadow: 1px 2px 14px -1px rgba(143,141,143,1);
    transition-delay: .2s;
    left:50%;
    top: 30px;
    z-index: 10;
    
}

.drop-items {
    margin-right: 10px;
    margin-left: 10px;
    font-size: .9rem;
    letter-spacing: 1px;
    color: rgb(52, 51, 51);
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

.drop-items ul {
    padding: 20px;
    display: flex;
    color: #424242;
    font-weight: 300;
    flex-direction: column;
    justify-content: center;
    list-style: none;
}


.drop-items ul li {
    cursor: pointer;
    text-decoration: underline;
}

.man-list-item {
    padding-bottom: -0px;
}

.search-box {
    background-color: white;
}

.custom-text {
    font-size: .9rem;
    font-weight: 400;
}

.nav-box div {
    cursor: pointer;
}

.search-box input{
    border: transparent;
    width: 30vw;
    height: 32px;
    border-radius: 5px 0px 0px 5px
}

.nav-list li a {
    color: rgb(255, 255, 255);
}
.search-box i {
    background: #007ab7;
    color: #fafafa;
    position: absolute;
    left: 0px;
    top: 0.2px;
    height : 5.4vh;
    padding-top:11px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: .7em;
}

.my-account {
    font-size: 1.4rem;
    color: #007ab7;
    background-color: rgb(238, 238, 238);
    width: 40px;
    text-align: center;
    height: 35px;
    border-radius: 50%;
}

.cart-nav {
    font-size: 1.2rem;
}

.text-nav {
    color: rgb(202, 198, 198);
    letter-spacing: 1px ;
    font-size: .85rem !important;
    font-weight: 400 !important;
}

@media only screen and (max-width: 760px) {
    .nav-box {
        display: flex;
        flex-direction: column;
        height: 100%;
        background-color: #007ab7;
    }
    
    .nav-box div {
        display: block;
    }
    .search-box, .list-cont{
        display: none !important;
    }
}

@media only screen and (min-width: 760px) {
    .drop-button {
        display: none;
    }
}

@media only screen and (max-width: 760px) {

    .profile-dropdown {
        position: absolute;
        left: 80px;
        width: 150px;

    }

    .nav-box {
        margin-bottom: -10px;
        flex-direction: column !important;
        height: 100%;
        align-items: flex-start;
        background-color: #007ab7;

    }
    .acc-cart {
        flex-direction: column !important;
    }

    .nav-box div {
        margin-bottom: 10px;
        margin-left: 5px;
    }
}

.profile-dropdown {
    position: absolute;
    top: 60px;
    right: 12px;
    padding: 20px;
    background-color: rgb(67, 67, 67);
    z-index: 5;
}

.profile-dropdown ul li {
    color: rgb(197, 217, 216);
    cursor: pointer;
}

.drop-button {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.drop-button i {
    font-size: 2rem;
    color: rgb(203, 203, 203);
}

.cont-min {
    display: none !important;

}


  